 
        #Button1  
        {  
            width: 173px; 
          background:blue;
          
          
        }  
         
      .spl{
        width: 120px;
        margin-left:25px;
       
      }
        #result  
        {  
            width: 22px;  
            z-index: 1; 
          background-color: yellow;
            left: 465px;
            top: 210px;
          padding-left:12px;
          position: absolute;  
            height: 35px; 
          
        }  